* {
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Chakra Petch', sans-serif;
    text-decoration: none;
}

.nav {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

nav {
    width: 50%;
    height: 6rem;
    border-radius: 0px 0px 50px 50px;
    background: linear-gradient(341deg, rgba(126, 161, 206, 1) 17%, rgba(150, 208, 255, 1) 52%, rgba(126, 161, 206, 1) 80%);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

nav ul li a{
    font-size: 30px;
    margin-left: 3rem;
    margin-right: 3rem;
    font-family: 'Pacifico', cursive;
    text-shadow: 1px 1px 20px white;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.741);
}
nav ul li a:hover{
    text-shadow: 3px 3px 20px white;
    color: black;
    font-size: 35px;
    transition: linear 1s;
}

.content {
    padding: 5rem;
    width: 100%;
    height: auto;
    animation: changeBackgroundColor 8s infinite;
    position: relative;
}


@keyframes changeBackgroundColor {
    0% {
        background-color: #2c5e9f;
    }

    50% {
        background-color: #96d0ff;
    }

    100% {
        background-color: #2c5e9f;
    }
}

.circle {
    width: 70%;
    height: 40%;
    background-image: url(/img/emir.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    animation: changeBorderColor 6s infinite;
}

.circle:hover {
    animation: changeBorderColor 0s;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

@keyframes changeBorderColor {
    0% {
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }

    50% {
        box-shadow: rgba(253, 253, 253, 0.73) 0px 22px 70px 4px;
    }

    100% {
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }
}

.links {
    width: 100%;
}

.info {
    width: 100%;
}

.links i a {

    font-size: 25px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: changeTextColor 7s infinite;
}

.links i a:hover {
    text-shadow: 2px 2px 2px rgb(2, 33, 84);

}

@keyframes changeTextColor {
    0% {
        background-color: rgb(36, 66, 100);
    }

    50% {
        background-color: rgb(255, 255, 255);
    }

    100% {
        background-color: rgb(36, 66, 100);
    }
}

.blog {
    width: 100%;
    height: 50rem;
    border-radius: 50px;
    background: linear-gradient(341deg, rgba(126, 161, 206, 1) 17%, rgba(150, 208, 255, 1) 52%, rgba(126, 161, 206, 1) 80%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.left {
    width: 100%;
    height: 50rem;
    border-radius: 50px;
    background: linear-gradient(341deg, rgba(126, 161, 206, 1) 17%, rgba(150, 208, 255, 1) 52%, rgba(126, 161, 206, 1) 80%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.blog h1 {
    color: white;
    text-shadow: 2px 2px 2px rgba(8, 2, 85, 0.612);
}

.blog p {
    color: white;
    font-size: 20px;
    text-shadow: 2px 1px 2px rgba(8, 2, 85, 0.763);
}